<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>addVehicle</title>
    </head>
    <body>
        <!-- Main Body of Page -->

        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/inventory/new">New Inventory</a></li>
                    <li class="breadcrumb-item"><a href="/inventory/used">Used Inventory</a></li>
                    <li class="breadcrumb-item"><a href="/specials">Specials</a></li>
                    <li class="breadcrumb-item"><a href="/contact">Contact</a></li>
                </ol>
            </nav>
        </div>  

        <div class="container">
            <h1>Add Vehicle</h1>
        </div>

        <div class="container">
            <form action="/admin/addVehicle" method="POST">
                <div class="row">
                    <div class="col">
                        <div class="row" >
                            <label class="col-3 col-form-label">
                                Make
                            </label>   
                        </div>
                        <div class="row-1">
                            <select class="browser-default custom-select" name="make">
                                <option selected></option>
                                <option th:each="make : ${make}"
                                        th:value="${make.name}"
                                        th:text="${make.name}"></option>
                            </select>
                        </div>
                        <div class="row">
                            <label class="col-3 col-form-label">
                                Type
                            </label>   
                        </div>
                        <div class="row-1">
                            <select class="browser-default custom-select" name="type">
                                <option selected>New</option>
                                <option>Used</option>
                            </select>
                        </div>
                        <div class="row">
                            <label class="col-3 col-form-label">
                                Year
                            </label>   
                        </div>
                        <div class="row-1">
                            <input type="text" class="form-control" name="year">
                        </div>
                        <div class="row">
                            <label class="col-3 col-form-label">
                                Color
                            </label>   
                        </div>
                        <div class="row-1">
                            <select class="browser-default custom-select" name="color">
                                <option selected></option>
                                <option th:each="color : ${color}"
                                        th:value="${color}"
                                        th:text="${color}"></option>
                            </select>
                            </select>
                        </div>
                        <div class="row">
                            <label class="col-3 col-form-label">
                                Mileage
                            </label>   
                        </div>
                        <div class="row-1">
                            <input type="text" class="form-control" name="mileage">
                        </div>
                        <div class="row">
                            <label class="col-3 col-form-label">
                                MSRP
                            </label>   
                        </div>
                        <div class="row-1">
                            <input type="text" class="form-control" name="msrp">
                        </div>

                    </div>


                    <div class="col">
                        <div class="row">
                            <label class="col-3 col-form-label">
                                Model
                            </label>   
                        </div>
                        <div class="row-1">
                            <select class="browser-default custom-select" name="carmodel">
                                <option selected></option>
                                <option th:each="model : ${model}"
                                        th:value="${model.name}"
                                        th:text="${model.name}"></option>
                            </select>
                            </select>
                        </div>
                        <div class="row">
                            <label class="col-3 col-form-label">
                                Body Style
                            </label>   
                        </div>
                        <div class="row-1">
                            <select class="browser-default custom-select" name="bodyStyle">
                                <option selected></option>
                                <option th:each="bodyStyle : ${bodyStyle}"
                                        th:value="${bodyStyle}"
                                        th:text="${bodyStyle}"></option>
                            </select>
                            </select>
                        </div>
                        <div class="row">
                            <label class="col-3 col-form-label">
                                Transmission
                            </label>   
                        </div>
                        <div class="row-1">
                            <select class="browser-default custom-select" name="transmission">
                                <option selected></option>
                                <option th:each="transmission : ${transmission}"
                                        th:value="${transmission}"
                                        th:text="${transmission}"></option>
                            </select>
                            </select>
                        </div>
                        <div class="row">
                            <label class="col-3 col-form-label">
                                Interior
                            </label>   
                        </div>
                        <div class="row-1">
                            <select class="browser-default custom-select" name="interiorcolor">
                                <option selected></option>
                                <option th:each="color : ${color}"
                                        th:value="${color}"
                                        th:text="${color}"></option>
                            </select>
                        </div>
                        <div class="row">
                            <label class="col-3 col-form-label">
                                Vin #
                            </label>   
                        </div>
                        <div class="row-1">
                            <input type="text" class="form-control" name="vin">
                        </div>
                        <div class="row">
                            <label class="col-3 col-form-label">
                                Sales Price
                            </label>   
                        </div>
                        <div class="row-1">
                            <input type="text" class="form-control" name="saleprice">
                        </div>


                    </div>

                </div>

                <div class="container">
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Description
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <textarea>
                            </textarea>
                        </div>

                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Picture
                        </label>
                    </div>
                    <div class="row">
                        <div class="input-group col-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container p-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>

        </div>








        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>

