<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>editVehicle</title>
    </head>
    <body>
        <!-- Main Body of Page -->

        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">New Inventory</a></li>
                    <li class="breadcrumb-item"><a href="#">Used Inventory</a></li>
                    <li class="breadcrumb-item"><a href="#">Specials</a></li>
                    <li class="breadcrumb-item"><a href="#">Contact</a></li>
                </ol>
            </nav>
        </div>  

        <div class="container">
            <h1>Contact Us</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Make
                        </label>   
                    </div>
                    <div class="row-1">
                        <select class="browser-default custom-select">
                            <option selected>Open this select menu</option>
                        </select>
                    </div>
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Type
                        </label>   
                    </div>
                    <div class="row-1">
                        <select class="browser-default custom-select">
                            <option selected>Open this select menu</option>
                        </select>
                    </div>
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Year
                        </label>   
                    </div>
                    <div class="row-1">
                        <input type="text" class="form-control" id="usr">
                    </div>
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Color
                        </label>   
                    </div>
                    <div class="row-1">
                        <select class="browser-default custom-select">
                            <option selected>Open this select menu</option>
                        </select>
                    </div>
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Mileage
                        </label>   
                    </div>
                    <div class="row-1">
                        <input type="text" class="form-control" id="usr">
                    </div>
                    <div class="row">
                        <label class="col-3 col-form-label">
                            MSRP
                        </label>   
                    </div>
                    <div class="row-1">
                        <input type="text" class="form-control" id="usr">
                    </div>

                </div>


                <div class="col">
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Model
                        </label>   
                    </div>
                    <div class="row-1">
                        <select class="browser-default custom-select">
                            <option selected>Open this select menu</option>
                        </select>
                    </div>
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Body Style
                        </label>   
                    </div>
                    <div class="row-1">
                        <select class="browser-default custom-select">
                            <option selected>Open this select menu</option>
                        </select>
                    </div>
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Transmission
                        </label>   
                    </div>
                    <div class="row-1">
                        <select class="browser-default custom-select">
                            <option selected>Open this select menu</option>
                        </select>
                    </div>
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Interior
                        </label>   
                    </div>
                    <div class="row-1">
                        <select class="browser-default custom-select">
                            <option selected>Open this select menu</option>
                        </select>
                    </div>
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Vin #
                        </label>   
                    </div>
                    <div class="row-1">
                        <input type="text" class="form-control" id="usr">
                    </div>
                    <div class="row">
                        <label class="col-3 col-form-label">
                            Sales Price
                        </label>   
                    </div>
                    <div class="row-1">
                        <input type="text" class="form-control" id="usr">
                    </div>


                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <label class="col-3 col-form-label">
                    Description
                </label>
            </div>
            <div class="row">
                <div class="col-3">
                    <textarea>
                    </textarea>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <label class="col-3 col-form-label">
                    Replace Picture
                </label>
            </div>
            <div class="row">
                <div class="input-group col-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="container p-2">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Feature This Vehicle
                </label>
            </div>
        </div>

        <div class="container p-2">
            <div class="row">
                <button type="button" class="btn btn-danger m-3">Delete</button>
                <button type="button" class="btn btn-primary m-3">Save</button>
            </div>

        </div>






        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>

