<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>models</title>
    </head>
    <body>
        <!-- Main Body of Page -->

        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">New Inventory</a></li>
                    <li class="breadcrumb-item"><a href="#">Used Inventory</a></li>
                    <li class="breadcrumb-item"><a href="#">Specials</a></li>
                    <li class="breadcrumb-item"><a href="#">Contact</a></li>
                </ol>
            </nav>
        </div>  

        <div class="container">
            <h1>Models</h1>
        </div>
        
        <div class="container p-3 my-3 border">
            <div class="row">
                <div class="col-2">
                    <label>New Model</label>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-2">
                    <select class="browser-default custom-select">
                            <option selected>Make Options</option>
                    </select>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary">Save</button>
                </div>     
            </div>
        </div>
        
        <div class="container">
            <div class="col-6">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Make</th>
                            <th>Date Added</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Audi</td>
                            <td>1/1/2016</td>
                            <td>Austin@ara.com</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
      
            





        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>

